.HomePage {
  padding-bottom: 25px !important;
}

.HomePage .res-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 15px 10px;
}

.HomePage .res-toolbar strong {
  color: rgba(255, 255, 255, 0.85);
}
