.MoviePage {
  padding-top: 10px !important;
}

.MoviePage .movie-page-header {
  padding-left: 4px;
  padding-right: 4px;
}

.MoviePage .movie-page-header .ant-page-header-back {
  font-size: 20px;
  margin-right: 10px;
}

.MoviePage .custom-skeleton {
  margin-top: 20px;
}

.d-flex {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.d-flex > * {
  padding: 5px;
}

.d-flex img.poster {
  margin: 0 auto;
  display: block;
}

.MoviePage .movie-detail {
  padding: 0 3vw;
}

.MoviePage .Popularity {
  transform: translate(0, 5px);
}

@media (min-width:320px)  {
  .d-flex {
    flex-direction: column;
  }
}
@media (min-width:481px)  {
  .d-flex {
    flex-direction: column;
  }
}
@media (min-width:641px)  {
  .d-flex {
    flex-direction: row;
  }
}