.MoviePage {
  padding-top: 10px !important;
}

.MoviePage .movie-page-header {
  padding-left: 2px;
  padding-right: 2px;
}

.MoviePage .movie-page-header .ant-page-header-back {
  font-size: 20px;
  margin-right: 10px;
}

.MoviePage .custom-skeleton {
  margin-top: 20px;
}