.Popularity {
    display: inline-block;
    position: relative;
    height: 22px;
    width: 70px;
}

.Popularity .pop-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    justify-items: stretch;
}

.Popularity .pop-wrap > div {
    flex-grow: 1;
    margin: 0 1.5px;
    border-radius: 1px;
}